@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Crimson Text", serif;
  font-style: italic;
}

body {
  max-width: 1920px;
  background-color: #090b0c;
  color: white;
  position: relative;
}

.hidden {
  opacity: 0;
  overflow-y: hidden;
}

header {
  padding: 30px 6%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

header a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

header .logo {
  text-transform: capitalize;
  font-weight: 600;
}

.landing {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.landing img {
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: 1920px;
  height: 100%;
  z-index: -10;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.landing h1 {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 5px;
  max-width: 700px;
  text-align: center;
}

.landing button {
  font-size: 24px;
  padding: 10px 40px;
  margin-top: 20px;
  cursor: pointer;
  text-transform: capitalize;
  background-color: aqua;
  border: none;
  border-radius: 4px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  padding: 0 6%;
}

.info img {
  margin-right: 100px;
  max-width: 589px;
  width: 40%;
  top: 0;
  left: 0;
}

.info__content h2 {
  max-width: 370px;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 600;
}

.info__content p {
  max-width: 510px;
  font-size: 18px;
}

.info2 img {
  margin-right: 0;
  margin-left: 100px;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  padding: 0 6%;
}

.join img {
  width: 40%;
  max-width: 940px;
  margin-right: 50px;
}

.join__content {
  max-width: 400px;
}

.join__content h2 {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

.subscribe {
  margin: 100px 0 0;
  text-align: center;
  padding: 0 6%;
}

.subscribe h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe form input {
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  color: inherit;
  border-radius: 4px 0 0 4px;
  padding: 15px 23px;
  min-width: 420px;
  font-size: 18px;
}

.subscribe form button {
  font-size: 18px;
  padding: 16px 30px;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  background-color: aqua;
  border: none;
  border-radius: 0 4px 4px 0;
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.89);
}

@media (max-width: 1000px) {
  header {
    padding-left: 3%;
    padding-right: 3%;
  }
  .info {
    padding: 0 3%;
  }
  .info img {
    margin-right: 50px;
  }
  .info__content h2 {
    font-size: 30px;
    max-width: 350px;
    margin-bottom: 20px;
  }
  .info__content p {
    font-size: 16px;
    max-width: 400px;
  }
  .info2 img {
    margin-right: 0;
    margin-left: 50px;
  }
  .join {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .join img {
    width: 70%;
    margin-right: 0;
  }
  .join__content {
    margin-top: 50px;
    width: 70%;
    max-width: none;
  }
  .join__content h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .join__content p {
    font-size: 16px;
  }
  .subscribe {
    padding: 0 3%;
  }
  .subscribe form {
    margin: 0 auto;
    width: 70%;
  }
  .subscribe form input {
    min-width: 50%;
    font-size: 16px;
    padding: 15px 15px;
  }
  .subscribe form button {
    font-size: 16px;
    padding: 16px 25px;
  }
}

@media (max-width: 800px) {
  .landing h1 {
    font-size: 44px;
    max-width: 573px;
  }
  .landing button {
    font-size: 18px;
  }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .info__content {
    width: 100%;
    max-width: 589px;
    margin-top: 20px;
  }
  .info__content h1,
  .info__content p {
    max-width: none;
  }
  .info2 .info__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .join img, .join__content {
    max-width: 589px;
    width: 100%;
  }
  .join__content {
    margin-top: 20px;
  }
  .join__content h2 {
    max-width: 500px;
  }
  .join__content p {
    display: none;
  }
  .subscribe form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe form input {
    min-width: 100%;
    width: 100%;
    border-radius: 0;
  }
  .subscribe form button {
    padding: 15px 15px;
    margin-top: 10px;
    border: 1px solid aqua;
    min-width: 100%;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 30px;
  }
  .landing h1 {
    font-size: 35px;
    max-width: 400px;
  }
  .info__content h2,
  .join__content h2 {
    font-size: 25px;
  }
  .subscribe h2 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */